/* Standard Styling Throughout Page */
html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Delius", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
  font-family: "Montaga", sans-serif;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.2;
}

#news {
  color: white;
}

.main-container {
  width: 100%;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


/* Heading Styling */
header {
  color: white;
  width: 100%;
  background-image: url("../images/Rene Osibo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40rem;
}

.header-news {
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  height: 4rem;
  position: fixed;
  z-index: 1;
  top: 0;
}

/*Nav Styling */
.hamburger {
  position: fixed;
  padding: 20px 10px;
  width: 25px;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 600;
  height: 18px;
}

.logo {
  text-align: center;
  padding-top: 1rem;
  font-size: 2.5rem;
  height: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 1rem;
}

.logo h1 {
font-family: fantasy;
}

h1 .red {
  color: orange;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 20px;
  left: 50%;
}

.hamburger div:nth-child(2) {
  top: 27px;
}

.hamburger div:nth-child(3) {
  top: 34px;
}

.navigation .menu {
  position: fixed;
  z-index: 1;
  top: -100%;
  left: 0;
  width: 20%;
  height: 20rem;
  padding: 0.2rem 4rem 2rem 4rem;
  background-color: firebrick;
  opacity: 1;
  font-size: 1.5rem;
  transition: top 100ms ease-out 50ms;
}

.navigation:hover .menu {
  top: 0;
  opacity: 1;
}

nav a {
  color: white;
  transition: color 50ms ease 20ms;
  margin-right: 2.5rem;
  font-family: "Montaga", sans-serif;
  line-height: 3;
}

nav a:hover {
  color: #cd5c5c;
}

/* Enter */
.login-button {
  background-color: white;
  color: firebrick;
  display: inline-block;
  line-height: 1.2rem;
  padding: 1rem 2rem;
  transition: all 50ms ease-out 20ms;
}

.login-button:hover {
  background-color: red;
}

.news a:hover {
  color: white;
}

.news a {
  color: maroon;
  text-align: center;
}

.entertainment {
  display: inline-block;
  float: right;
  margin-top: 20rem;
  margin-right: 5rem;
}

.news {
  display: inline-block;
  margin-top: 25rem;
  margin-left: 7rem;
}

.news h3 {
  margin: 1rem 0;
}

/* Main-Content */
.main-content {
  max-width: 100%;
  margin-top: 4rem;
  background-color: black;
}

.main-img img {
  width: 100%;
  height: 40rem;
}

.main-img h3 {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem 4rem;
  padding: 1rem 0;
}

.synopsis {
  margin: 1rem 0;
  margin-left: 4rem;
}

.synopsis h6 {
  opacity: 0.5;
  margin-bottom: 2rem;
}

.synopsis p {
  margin-bottom: 1rem;
}

.learn {
  margin-right: 1rem;
}

.learn .rate-button {
  background-color: white;
  color: red;
  line-height: 1.2rem;
  padding: 1rem 2rem;
  transition: background-color 100ms ease-out 50ms;
  border-radius: 3px;
}

.sub .rate-button {
  background-color: red;
  color: white;
  line-height: 1.2rem;
  padding: 1rem 2rem;
  transition: background-color 100ms ease-out 50ms;
  border-radius: 3px;
}

.rate-button:hover {
  background-color: orange;
}

/* Gallery */
.gallery {
  background-color: dimgray;
}

#gallery1 {
  background-color: dimgray;
  margin: 0 3rem;
}

.drama-img img {
  width: 100%;
  height: auto;
}

.drama-box {
  width: 33.33%;
  min-height: 100%;
  padding: 1.5rem 0;
}

.heading {
  margin: 0 4rem;
  padding: 2rem 0;
}

.heading h3 {
  font-size: 2rem;
  flex-grow: 1;
}

.heading a {
  color: red;
  transition: color 50ms ease-in 20ms;
}

.heading a:hover {
  color: white;
}

.flex-row .drama-box:nth-child(1n+2) {
  margin-left: 2rem;
}

.drama-img {
  margin-bottom: 1rem;
}

.drama-box h3 {
  margin: 0.5rem 3rem 0.5rem 1rem;
  font-weight: lighter;
  text-align: center;
}

.drama-box p {
  font-weight: 100;
  margin: 0 3rem 0 1rem;
  opacity: 0.5;
  font-size: 1rem;
  text-align: center;
}

/* Defining Container */
.defining-container {
  display: inline;
}

.defining-container .title {
  color: #639eff;
  transition: color 500ms ease-out;
}

.defining-container .title:hover {
  color: #306acc;
}

.defining-container .story {
  position: fixed;
  z-index: 10;
  bottom: -500%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 4rem 2rem 4rem;
  background-color: firebrick;
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  font-size: 1.5rem;
  transition: bottom 400ms ease-out 400ms, opacity 500ms ease-in-out 250ms;
}

.defining-container:hover .story {
  bottom: 0;
  opacity: 1;
}

.story h4 {
  font-weight: 500;
}

.story p {
  font-weight: 700;
  font-style: oblique;
  text-align: left;
  margin-left: 5rem;
  margin-top: 1rem;
}

/*Footer*/
footer {
  margin: 1rem 2rem 0 2rem;
}

#footer {
  color: black;
}

footer span {
  margin: 1rem 5rem;
}

footer .copy {
  border-top: 1px solid firebrick;
  padding-top: 1.5rem;
  margin: 0 4rem;
}

.tc {
  flex-grow: 1
}

.social a {
  margin-left: 1rem;
}

footer p {
  margin-left: 1rem;
}

footer p:hover {
  color: red;
}

footer .quicklinks {
  margin: 2rem 5rem;
  justify-content: space-between;
}

.quicklinks h3 {
  padding-bottom: 0.5rem;
}
.quicklinks a {
  padding-top: 0.5rem;
}

.quicklinks a:hover {
  color: red;
}
