/* Standard Styling Throughout Page */
html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Delius", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
  font-family: "Montaga", sans-serif;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  line-height: 1.2;
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Heading Styling */
#header {
  background-image: url("../images/Rene Osibo.png");
  height: 40rem;
  color: white;
}

.header-news {
  background-image: url("../images/valour productions.png");
  background-color: #2d3c42;
  height: 6rem;
}

/*Nav Styling */
.hamburger {
  position: fixed;
  padding: 20px 10px;
  width: 25px;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1;
  height: 18px;
}

.company-name img {
  width: 50%;
  margin: 0 auto;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 20px;
  left: 50%;
}

.hamburger div:nth-child(2) {
  top: 27px;
}

.hamburger div:nth-child(3) {
  top: 34px;
}

.navigation .menu {
  position: fixed;
  z-index: 1;
  top: -100%;
  left: 0;
  border-radius: 3px;
  width: 13%;
  height: 15rem;
  padding: 1rem 2rem;
  background-color: #efc056;;
  transition: top 1s ease-out 300ms;
}

.navigation:hover .menu {
  top: 0;
}

nav a {
  color: #2d3c42;
  font-weight: 700;
  transition: color 50ms ease 20ms;
  font-family: "Montaga", sans-serif;
  line-height: 3;
}

nav a:hover {
  color: red;
}

/* Enter */
.login-button {
  background-color: white;
  display: inline-block;
  line-height: 1.2rem;
  padding: 1rem 2rem;
  transition: all 50ms ease-out 20ms;
}

.login-button:hover {
  background-color: #efc056;
}

.enter a {
  color: red;
  text-align: center;
}

.enter a:hover {
  color: white;
}

.enter {
  margin: 25rem 7rem 0 7rem;
  justify-content: space-between;
}

.enter h3 {
  margin: 1rem auto;
}

/*Footer*/
footer {
  margin: 1rem 2rem 0 2rem;
  color: black;
}

footer .quicklinks {
  margin: 2rem 5rem;
  justify-content: space-between;
}

.quicklinks h3 {
  padding-bottom: 0.5rem;
  font-weight: bold;
}
.quicklinks a {
  padding-top: 0.5rem;
}

.quicklinks a:hover {
  color: red;
}

footer span {
  margin: 1rem 5rem;
}

footer .copy {
  border-top: 1px solid #2d3c42;
  padding-top: 1.5rem;
  margin: 0 5rem;
}

.tc {
  flex-grow: 1
}

.tc p {
  padding-right: 1rem;
}

.social a {
  margin-left: 1rem;
}

.social a:hover {
  color: red;
}

footer p:hover {
  color: red;
}

/* News-Content Styling */
.news-content {
  max-width: 100%;
  background-color: #efc056;
  color: black;
}

.main-img img {
  padding: 0 7rem;
  width: 100%;
  height: 30rem;
}

.main-img h3 {
  font-weight: 500;
  font-size: 2rem;
  padding: 2rem 0;
  text-align: center;
  font-family: "Montaga", sans-serif;
}

.synopsis {
  margin: 1rem 0;
  margin-left: 7rem;
}

.synopsis h6 {
  opacity: 0.7;
  margin-bottom: 2rem;
}

.synopsis p {
  margin-bottom: 1rem;
}

.learn {
  margin-right: 1rem;
}

.learn .rate-button {
  background-color: white;
  color: black;
  line-height: 1.2rem;
  padding: 1rem 2rem;
  transition: background-color 100ms ease-out 50ms;
  border-radius: 3px;
}

.sub .rate-button {
  background-color: #2d3c42;
  color: white;
  line-height: 1.2rem;
  padding: 1rem 2rem;
  transition: background-color 100ms ease-out 50ms;
  border-radius: 3px;
}

.rate-button:hover {
  background-color: red;
}

/* Gallery */
.gallery {
  background-color: #dcdcdc;
  color: black;
}

#gallery1 {
  background-color: #dcdcdc;
  margin: 0 7rem;
}

.drama-img img {
  width: 100%;
  height: auto;
}

.drama-box {
  width: 33.33%;
  min-height: 100%;
  padding: 1.5rem 0;
}

.heading {
  margin: 0 7rem;
  padding: 2rem 0;
}

.heading h3 {
  flex-grow: 1;
  font-weight: bolder;
  font-family: "Montaga", sans-serif;
}

.heading a {
  font-size: 1.2rem;
  color: red;
  transition: color 50ms ease-in 20ms;
}

.heading a:hover {
  color: black;
}

.flex-row .drama-box:nth-child(1n+2) {
  margin-left: 2rem;
}

.drama-img {
  margin-bottom: 1rem;
}

.drama-box h3 {
  margin: 0.5rem 3rem 0.5rem 1rem;
  font-weight: lighter;
  text-align: center;
}

.drama-box p {
  font-weight: 100;
  margin: 0 3rem 0 1rem;
  opacity: 0.8;
  text-align: center;
}

/* Defining Container */
.defining-container {
  display: inline;
}

.defining-container .title {
  color: #2d3c42;
  transition: color 500ms ease-out;
}

.defining-container .title:hover {
  color: #306acc;
}

.defining-container .story {
  position: fixed;
  z-index: 10;
  bottom: -500%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 7rem 2rem 7rem;
  background-color: #2d3c42;
  font-size: 1.5rem;
  transition: bottom 400ms ease-out 400ms;
}

.defining-container:hover .story {
  bottom: 0;
}

.story h4 {
  font-weight: 700;
  color: white;
}

.story p {
  color: #efc056;
  font-size: 1rem;
  text-align: left;
  margin-left: 6rem;
  margin-top: 1rem;
}

/* About Valour Styling */
.about-text {
  background-color: #dcdcdc;
  padding-bottom: 2rem;
}

.about-text h2 {
  text-align: center;
  padding: 4rem 0 2rem 0;
  font-weight: bolder;
  font-family: "Montaga", sans-serif;
}

.about-text .content {
  margin: 2rem 7rem;
}

.content p {
  line-height: 2;
}

.content p span {
  color: red;
  transition: color 50ms ease 10ms;
}

.content p span:hover {
  color: black;
}

/* Team Styling */
.team {
  background-color: #dcdcdc;
  padding-bottom: 2rem;
}

.team h2 {
  text-align: center;
  padding: 3rem 0;
  font-weight: bolder;
  color: black;
  font-family: "Montaga", sans-serif;
}

.team .members {
  margin: 1rem 7rem;
}

.person img {
  max-width: 100%;
  height: auto;
  padding-bottom: 0.5rem;
}

#persons2 {
  margin-top: 2rem;
  max-width: 65%
}

.person h5 {
  padding-top: 0.5rem;
  color: red;
}

.flex-row .person:nth-child(1n+2) {
  margin-left: 2rem;
}

/* Entertainment Design */
#foot {
  background-color: #efc056;
  margin: auto;
  padding-top: 1rem;
}

.background {
  margin: 4rem 7rem 2rem 7rem;
}

.e-image {
  margin: 3rem 0;
  padding-top: 2rem;
  justify-content: space-around;
  text-align: center;
  font-weight: bolder;
  border-bottom: 1px solid #2d3c42;
}

.i-image {
  margin-bottom: 1.5rem;
}

.i-video video {
  width: 30%;
  height: 12rem;
  margin: 1rem 1rem 1rem 0;
}

.i-video .info {
  margin-top: 1.5rem;
}

.info h3 {
  font-weight: bolder;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}


/* Connect With Us Styling */
.connect {
  background-color: #dcdcdc;
}

.connect h3 {
  font-weight: 500;
  font-size: 2rem;
  padding: 2rem 0;
  font-weight: bolder;
  text-align: center;
  font-family: "Montaga", sans-serif;
}

.contacts {
  margin: 2rem 7rem;
}

.contacts p {
  line-height: 2;
  padding-bottom: 4rem;
  font-size: 1.2rem;
}

.contacts p a {
  color: red;
}

.contacts p a:hover {
  color: black
}
